@model IEnumerable<ElectronicsStore.Models.Product>

@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shop</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6">
            <div class="product">
                <div class="product-img">
                    <img src=@Html.DisplayFor(modelItem => item.Image)
                         alt="">                    
                </div>
                <div class="product-body">
                    <p class="product-category"> @Html.DisplayFor(modelItem => item.IdCategoryNavigation.IdCategory)</p>
                    <h3 class="product-name">
                        <a href="#">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </h3>
                    <h4 class="product-price">
                        @Html.DisplayFor(modelItem => item.Price)
                    </h4>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                        <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                        <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                        <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                    </div>
                </div>
                <div class="add-to-cart">
                    <form asp-action="Create" asp-controller="CartDetails" method="post">
                        <input type="hidden" name="cartId" value="1" />
                        <input type="hidden" name="productId" value="@item.IdProduct" />
                        <input type="hidden" name="count" value="1" />
                        <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </form>
                </div>
            </div>
        </div>
    }
    </div>


